<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href=" #/ "><i class="fab fa-bitcoin"></i> CJ Crypto Coin</a>
        <button class="navbar-toggler me-5" type="button " data-bs-toggle="collapse " data-bs-target="#navbarNav " aria-controls="navbarNav " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav ">
            <ul class="navbar-nav ms-auto me-5">
                <li class="nav-item ms-5">
                    <a class="nav-link" aria-current="page " href="#/coins"><i class="fas fa-coins"></i> Coins</a>
                </li>
            </ul>
        </div>
    </div>
</nav>