<div class="card bg-dark">
    <div class="card-body bg-dark">
        <div class="mb-2">
            <input type="text" class="form-control" placeholder="Search Coin" id="searchCoins">
        </div>
        <table class="table table-reponsive table-dark table-striped" id="tableCoins1">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Coin</th>
                <th scope="col">Price</th>
                <th scope="col">Price Change</th>
                <th scope="col">24h Volume</th>
            </thead>
            <tbody id="coinsTableContent">

            </tbody>
        </table>
    </div>
</div>