<div class="col-md-11 col-sm-11 col-xl-7 mx-auto">
    <div class="card bg-dark">
        <div class="card-header rojoCarmesi">
            <h3 class="card-title text-center text-white">CJ Crypto Coin</h3>
        </div>
        <div class="card-body bg-dark">
            <p class="card-text text-white">Welcome to CJ Crypto Coin an application when you can see the information about your favorite coins.</p>
            <p class="card-text text-white">This application was elaborated by CJTechnnoSys team. We wait that like this application.</p>
            <div class="d-grid gap-2">
                <a class="btn btn-primary" href="#/coins">Start!</a>
            </div>
        </div>
    </div>
</div>