* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1488cc;
}

#HomePage {
    min-height: 95vh;
    display: flex;
    align-items: center;
}

#Error404Page {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#CoinsPage {
    margin-top: 60px;
}

.rojoCarmesi {
    background-color: #A51C30;
}

.iconCrypto {
    width: 3%;
}